:root {
    --blue: rgb(120, 194, 243);
    --extra-large: 1.5rem;
    --large: 1rem;
    --medium: 0.75rem;
    --texte: 'Roboto', sans-serif;
    --titre: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
    font-family: var(--titre);
}

p,
span {
    font-family: var(--texte);
}

/* html {
    height: 100vh;
} */

* {
    box-sizing: border-box;
}

body {
    /* background-color: line var(--blue); */
    background: #D2C3A3;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--texte);
}

/* index */

button.popup-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.popup-button:hover {
    background-color: #45a049;
}

#connexion-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#connexion-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#connexion-form input[type="text"],
#connexion-form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#connexion-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#connexion-form input[type="submit"]:hover {
    background-color: #45a049;
}

#inscription-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#inscription-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#inscription-form input[type="text"],
#inscription-form input[type="password"],
#inscription-form input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#inscription-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#inscription-form input[type="submit"]:hover {
    background-color: #45a049;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #999;
    font-size: 20px;
}

.close:hover {
    color: #666;
}

#inscription-button {
    /* Ajoutez ici les styles spécifiques au bouton "S'inscrire" */
    background-color: #45a049;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#inscription-button:hover {
    background-color: #45a049;
}



.logo_unis_ensemble {
    height: 5.5rem;
    border-radius: 20px;
    border: solid 1px white;
    background-color: rgba(240, 248, 255, 0.562);
}

.accueil_photo {
    width: 50%;
}

nav {
    font-size: 1.6em;
    font-family: var(--titre);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: solid 1px white;
    width: 100%;
}

a {
    text-decoration: none;
    color: #242424;
}

.head {
    position: fixed;
    display: flex;
    padding: 15px;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.733);
    border-radius: 0 0 10px 10px;
    gap: 1.5vw;
}

.info_photo {
    font-family: 'Arvo', serif;
}

p {
    font-size: 0.8em;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    padding: 130px 5vw;

}

.accueil_photo {
    width: 100%;
}

.img_accueil {
    display: flex;
    align-items: center;
}



.img {
    display: flex;
    justify-content: center;
}

.img img {
    width: 65%;
}

/*feuille activité */
.grid-container-activite {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    padding: 125px 0 0 0;

}



.p_actualites {
    font-size: var(--large);
    font-family: var(--titre);
}

/* feuille commande */

.container-commande {
    display: flex;
    padding-top: 130px;
    justify-content: center;
    height: 100%;
}



.feuille_excel {

    margin: auto;
    width: 90%;
    height: 90%;
}

/* feuille commande en formulaire */
.formulaire-commande {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    justify-content: center;
}

.grid-commande {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding-left: 2vw;
}

#list-course {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5vw;

}

#list-course>* {
    display: inline-block;
    flex-direction: column;
    width: 20vw;
    text-align: center;
    justify-content: center;

    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img.delete-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 10px;
    width: 25%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

img.delete-button:hover {
    transform: scale(1.1);
}

.div-valider {
    display: flex;
    justify-content: center;
}

#valider-commande {
    display: inline-block;
    background-color: #45a049;;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#valider-commande:hover {
    background-color: #0055CC;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

#valider-commande:active {
    transform: translateY(2px);
    box-shadow: none;
}

/*feuille vente*/

.container-vente {
    display: flex;
    padding: 150px 1vw 0 1vw;
    justify-content: center;
    height: 90%;
    /* box-sizing: border-box; */
    /* height: 100vh; */
}




/*Feuille Contact*/

.container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 125px 0 0 0;
}

h2 {
    text-align: center;
    font-size: var(--extra-large);
    font-family: var(--titre);
}

.grid-container-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 2vw;
    padding: 1vw 1vw;
}

.img_icon img {
    width: 15%;
}

.img_icon {
    display: flex;
    justify-content: center;
}

.contacts {
    text-align: center;
}

.map {
    height: 40vh;
    width: 100%;
    grid-column: 1 / 3;
}


.calendar-google {
    /* width: calc(50vw + 10rem);
    height: 50vh; */
    /* min-width: 5px; */
    min-height: 500px;
    max-width: 1500px;

    flex-grow: 1;
}

/*Feuille gestion commandes*/
.gestion-commande {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    justify-content: center;
}

#list-commandes>* {
    display: inline-block;
    flex-direction: column;
    width: 20vw;
    text-align: center;
    justify-content: center;

    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*Feuille gestion commandes traitées*/
#list-commandes-traitees>* {
    display: inline-block;
    flex-direction: column;
    width: 20vw;
    text-align: center;
    justify-content: center;

    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*feuille creation d'article */
.creer-article {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    justify-content: center;
}


@media (max-width:600px) {

    /* reduce font-size and padding for smaller screens */
    nav {
        font-size: var(--extra-large);
        flex-direction: column;
        /* ajouté pour passer la nav en colonne */
    }

    .head {

        align-items: center;
    }

    .logo_unis_ensemble {}


    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2vw;
        padding-top: 150px;
        flex-direction: column;
    }

    .accueil_photo {
        margin: 0 0 0 0;
        width: 100%;
    }

    .img_accueil {
        margin: 0 0;
        align-items: center;
    }

    html {
        height: 100vh;
    }

    h2 {
        font-size: var(--extra-large);
    }

    p {
        font-size: var(--large);
    }

    .p_actualites {
        font-size: var(--medium);
        font-family: var(--texte);
    }

    .img img {
        width: 90%;
    }

    .grid-container-activite {
        padding-top: 170px;
    }


    .calendar-google {

    }

    .container-contact {
        padding: calc(20% + 6vh) 0 0 0;
    }

    .map {
    }

    .container-commande {}

    .feuille_excel {}

    .container-vente {
        padding: 170px 1vw 0 1vw;
    }

    .formulaire-commande {
        padding-top: 170px;
    }

    .gestion-commande {
        padding-top: 170px;
    }
}